vti_encoding:SR|utf8-nl
vti_copytimestamp_http\://xp/personal:TR|25 Aug 2023 00:36:39 -0700
vti_structto_xp\:80/copy_of_xp:TR|03 Jun 1997 03:37:47 -0600
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.1330
vti_createpostinfo:BX|false
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|24 Aug 2023 23:26:04 -0600
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|frontpage
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_structto_xp\:80/personal:TR|03 Jun 1997 02:37:47 -0700
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|iso-8859-1
vti_missingoverlays:VX|
vti_themedefault:SR|global 111
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|index.htm
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_borderdefault:SR|tl
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_copytimestamp_http\://xp/copy_of_xp:TR|25 Aug 2023 00:08:13 -0600
vti_navbuttonnextlabel:SR|Next
vti_title:SR|Personal Web
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
